/*** The Pairs game by Ehwaz Raido (Merry Roger) 2022 ***/
/*** 2022 Jul, 4-7  v.0.1.0 ***/
:root {
  --card-max-width: 25%;
  --card-max-height: 25%;
  --card-gap: 1;
  --col-count: 4;
  --line-count: 4;
  --max-count: 4;
  --stock-cp-visibility: hidden;
  --card-face-visibility: hidden;
  --cp-z: 4;
  --cp-rot: 0deg;
  --trn-cp: none;
  --trf-cp: none;
  --trf-fcp: scaleX(.1%);
  --trf-cp-dwn: none;

  --card-outlne-clr: rgba(255, 255, 255, .3);
}

.root {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.veil-raised .root {
  filter: blur(1px);
}

.veil-raised .veil {
  display: block;
  z-index: 10;
}

.veil-raised .stock {
  visibility: hidden;
}

.card {
  display: flex;
  max-width: var(--card-max-width);
  flex-shrink: 1;
  max-height: var(--card-max-height);
  border-radius: 10px;
}

.cardplace {
  position: relative;
  outline: 1px solid var(--card-outlne-clr);
}

.cardplace::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: var(--cp-z);
  border-radius: inherit;
  border: 3px solid var(--card-shirt-border-clr);
  background: var(--card-shirt-border-clr) url("../images/shirt.png") no-repeat center center;
  visibility: var(--stock-cp-visibility);
  transform: var(--trf-cp);
  transition: var(--trn-cp);
  cursor: pointer;
}

.cardplace.flipped::after {
  transform-origin: center center;
  transform: scaleX(.1%);
  transition: transform .1s ease-in-out;
}

.cardplace.flipped::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-value);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-weight: 400;
  font-size: 10vh;
  line-height: 100%;
  border-radius: inherit;
  border: 3px solid var(--card-shirt-border-clr);
  color: var(--card-content-color);
  background-color: var(--black-bgr);
  visibility: var(--card-face-visibility);
  transform-origin: center center;
  transform: var(--trf-fcp);
  transition: transform .1s ease-in-out;
  cursor: default;
}

.popup-message-list {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  z-index: -1;
  visibility: hidden;
  list-style-type: none;
  cursor: default;
}

.veil-raised .popup-message-list {
  right: calc(50vw - 110px);
  bottom: 60px;
  z-index: 18;
  opacity: 1;
  visibility: visible;
}

.popup-message {
  position: absolute;
  margin: 0;
  padding: 10px 12px;
  min-width: 220px;
  width: 220px;
  max-width: 220px;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  z-index: 19;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--card-shirt-border-clr);
  background-color: var(--black-bgr);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  opacity: 1;
  visibility: hidden;
  transition: opacity 1s ease-in-out 3s, transform .5s ease-in-out 0s;
}

.timer.go {
  color: var(--card-content-color);
  background-image: url("../images/timer.svg");
}

.timer.squeezed {
  padding: 5px;
  min-width: 32px;
  background-position: center center;
  transition: min-width 1s ease-in-out;
}

.timer.reload {
  background-image: url("../images/restart.svg");
  background-size: auto 80%;
  cursor: pointer;
}

.control-set {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 0;
  list-style-type: none;
}

.control-set-item {
  position: relative;
}

.control-buttons {
  padding: 5px 5px 6px 26px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: var(--controls-bgr);
  background-color: var(--black-bgr);
  background-repeat: no-repeat;
  background-position: 2px center;
  cursor: pointer;
}

.config {
  background-size: auto 71%;
  background-image: url("../images/cogwheel.svg");
}

.github {
  background-size: auto 85%;
  background-image: url("../images/github-logo.svg");
}

.control-buttons:hover {
  border-bottom: 1px solid var(--card-content-color);
}

.control-panels {
  position: absolute;
  padding: 20px;
  top: 5px;
  right: 0;
  border-radius: 10px;
  border: 1px solid var(--dk-gray-bg);
  background-color: var(--black-bgr);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  visibility: hidden;
  z-index: -1;
  transform: scale(0%, 0%);
  transform-origin: right top;
  transition: transform .3s ease-in-out;
}

.control-panels.unfolded {
  visibility: visible;
  z-index: 25;
  transform: scale(100%, 100%);
  transition: transform .3s ease-in-out;
}

.control__label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--card-shirt-border-clr);
  white-space: nowrap;
}

.control__input {
  display: block;
  padding: 3px 0 3px 3px;
  min-height: 28px;
  border: 1px solid var(--black-bgr);
  border-bottom: 1px solid var(--light-blue-clr);
  color: var(--controls-bgr);
  background-color: var(--black-bgr);
  outline: none;
}

.control__input[type="number"] {
  min-width: 120px;
  max-width: 120px;
}

.control__input[type="number"]:focus {
  background-color: var(--dk-gray-bg);
}

.control__input[type="number"]:invalid {
  border-bottom: 1px solid var(--error-red-clr);
}

.control__button {
  padding: 2px;
  width: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  border: none;
  border-radius: 5px;
  color: var(--controls-bgr);
  background-color: var(--dk-gray-bg);
  cursor: pointer;
}

.control__button:focus,
.control__button:hover {
  background-color: var(--light-text-clr);
}

.control__button:active {
  background-color: var(--light-blue-clr);
}

@media (orientation: landscape) {
  .root {
    width: calc((((100vh - 100px) / var(--max-count) - (var(--card-gap) * 1vh)) * var(--col-count) + (var(--card-gap) * 1vh) * (var(--col-count) - 1)) + 100px);
    gap: calc(var(--card-gap) * 1vh);
  }

  .card {
    padding: calc(((100vh - 100px) / var(--max-count) - (var(--card-gap) * 1vh)) / 2);
  }

  .cardplace.flipped::before {
    font-size: 5vh;
  }
}

@media (orientation: portrait) {
  .root {
    width: calc((((100vw - 100px) / var(--max-count) - (var(--card-gap) * 1vw)) * var(--col-count) + (var(--card-gap) * 1vw) * (var(--col-count) - 1)) + 100px);
    height: calc((((100vw - 100px) / var(--max-count) - (var(--card-gap) * 1vw)) * var(--line-count) + (var(--card-gap) * 1vw) * (var(--line-count) - 1)) + 100px);
    gap: calc(var(--card-gap) * 1vw);
  }

  .card {
    padding: calc(((100vw - 100px) / var(--max-count) - (var(--card-gap) * 1vw)) / 2);
  }

  .cardplace.flipped::before {
    font-size: 4vw;
  }

  .veil-raised .controls {
    padding-left: 10px;
    padding-right: 10px;
  }

  .veil-raised .controls img {
    width: 80%;
  }
}


@media (max-height: 768px) and (orientation: landscape) {
  .card {
    border-radius: 5px;
  }

  .card.cardplace::before,
  .card.cardplace::after {
    border-width: 1px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .card {
    border-radius: 5px;
  }

  .card.cardplace::before,
  .card.cardplace::after {
    border-width: 1px;
  }

  .veil-raised .controls {
    padding-left: 10px;
    padding-right: 10px;
  }

  .veil-raised .controls img {
    width: 80%;
  }
}
